.header {
    background-image: url('/4.AlumniNetwork/img/headImg.jpg');
}
.header-text {
    color: wheat;
    display: inline-block;
    font-size: 2rem;
    margin: 1rem 0 1rem 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    margin: 0 4rem;
    padding: 0 2rem;
}

.formtop {
    display: inline-block;
    width: 15rem;
}

.btn {
    display: inline;
}

.nav-item:hover {
    background-color: tomato;   
}

.navbar-social {
   position: relative;
   left: 10rem;

}

.navbar-social .fa {
    margin: 8px;
    color: white;
}

.navbar-social .fa:hover {
    background-color: tomato;
}

#carouselExampleSlidesOnly {
    text-align: center;
    color: white;
    background-image: url("/4.AlumniNetwork/img/bg.jpg");
    transition-delay: 0.5s;
    padding: 12rem 0;
}

.carousel-text {
    padding: 0 13rem;
}

.navbar .btn {
    padding-top: 2rem;
}

.mid {
    background-color: rgb(172, 167, 159);
}

.mid .card-1{
    text-align: center;
    background: transparent;
    margin: 7rem auto;
}

.card .fas {
    padding-bottom: 70px;
}

.youtube-link{
   width: 40rem;
   height: 20rem;
}

.mid .card-2 {
    text-align: center;
    margin: 2rem auto;
    padding: 12rem auto;
}

.footer {
    margin: 1rem auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.mid-tech {
    background-color: rgba(175, 167, 175, 0.89);
    padding: 3rem 7rem;
}

.mid-ico{
    margin-left: 2rem;
    float: right;
}

.mid-section {
    margin-bottom: 3rem;
}

.mid-txt {
    margin-bottom: 4rem;
}

.utube-link {
   margin-right: 1rem;
   float: left;
   width: 100%;
   height: 20rem;
}
.mid-blog .col-lg-9 {
    
    padding: 3rem 5rem;
}
.mid-blog {
    background-color: rgb(172, 167, 159);
    
}



ul#menu li {
    display:inline;
    border: solid;
    border-width: 1px;
}

.blog-mid-social-1{
   background-color: rgb(160, 220, 243);
   height: 3rem;
   width: 1rem;
}

.blog-mid-social-2{
    background-color: royalblue;
    height: 3rem;
    width: 1rem;
}
.blog-mid-social-3{
    background-color: rgb(160, 220, 243);
    height: 3rem;
    width: 1rem;
}
.blog-mid-social-4{
    background-color: salmon;
    height: 3rem;
    width: 1rem;
}

.google-map {
   
    width: 100%;
    height: 450px;
    
}

.mid-contact {
   padding: 2rem 3rem;
    background-color: rgb(172, 167, 159);
}

.mid-contact .row {
    margin-top: 1rem;
}